.imgs-wrapper > :only-child,
.cards-wrapper > :only-child {
  padding-inline: clamp(0px, calc(34vw - 160px), 150px);
}

.imgs-wrapper,
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 5px;
}

.preview-container {
  color: #000;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 5px;
}

@media (width <= 1075px) {
  .imgs-wrapper:has(> :nth-child(3)),
  .cards-wrapper:has(> :nth-child(3)) {
    grid-template-columns: 1fr;
    padding-inline: clamp(0px, calc(34vw - 160px), 150px);
  }
}
