@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* text-box-trim: trim-both; */
  /* text-box-edge: cap alphabetic; */
  text-box: trim-both cap alphabetic;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  line-height: 1.3;
}

p {
  text-box: trim-both cap alphabetic;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  overflow-wrap: anywhere;
  text-wrap: pretty;
}
