.line-break-item:not(:last-child) {
  margin-bottom: 1rem;
}

.line-break {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-align-start {
  display: flex;
  align-items: start;
  gap: 10px;
}

.flex-align-center {
  display: flex;
  align-items: center;
  gap: 5px;
}

hr {
  border-color: var(--slate-5);
  margin: 15px
}