.line-break-item:not(:last-child) {
  margin-bottom: 1rem;
}

.line-break {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 5px;
}

.flex-align-center {
  display: flex;
  align-items: center;
  gap: 5px;
}