:root {
  --header: max-content;

  /* Light Mode */
  --background-color: var(--slate-1);
  --text-color: var(--slate-8);
  --surface-text-color: #111;
  --menu-button: var(--slate-8);
  --icon-invert: 0;

  /* Spacing */
  --p3: 0.1875rem;
  --p5: 0.3125rem;
  --gap: 0.3125rem;

  /* Borders */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #0D0F12;
  --text-color: #fff;
  --surface-text-color: #111;
  --menu-button: var(--slate-2);
  /* --icon-invert: 1; */
}

:host(:not(wc-button)) {
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--background-color);
}

.layout {
  height: 100dvh;
  padding: var(--p5);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

header {
  border: 1px solid var(--gray-4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 36px;
}

.header-logo {
  transform: translate(5px, 1px);
  display: flex;
  align-items: center;
  gap: 15px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
}

#menu {
  margin-left: 4px;
}

.nav-main {
  flex: 1;
  display: flex;
  position: relative;
  min-height: 0;
  width: 100%;
  
}

main {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  min-height: 0;

  transition: margin-left 0.5s ease;
}

#app {
 height: 100%;
}

#app > .page {
  opacity: 1;
  transition: opacity 1s ease;
}

#app.is-fading > .page {
  opacity: 0;
}

footer {
  grid-area: footer;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: center;
}

img {
  border-radius: 5px;
}

svg {
  filter: invert(var(--icon-invert));
}

input {
  padding: 3px;
}

code {
  border: 1px solid var(--slate-3);
  border-radius: var(--border-radius);
  padding: 0 1px;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--slate-1);
  color: var(--surface-text-color);
}

wc-icon[name="scrollToTop"] {
  position: fixed;
  right: 20px;
  bottom: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;

  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

wc-icon[name="scrollToTop"].visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

@media (width > 701px) {
  #menu {
    display: none;
  }

  main {
    margin-left: 150px;
  }
}