.test {
  border: 1px solid red
}

.navbar {
  /* min-width: 125px; */
  width: 145px;
  height: 100%;
  border: 1px solid var(--gray-4);
  padding: var(--p5);
  border-radius: var(--border-radius);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4rem;
  overflow-y: auto;
  background-color: var(--background-color);
  z-index: 1;

  transition: margin-left 0.5s ease;
  position: absolute;
}

.navbar__section {
  font-size: 1.5rem;
}

.navbar__icon__category-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.navbar__category {
  font-size: 1.3rem;
  transform: translateY(1px);
}

.navbar__icon__size {
  width: 20px;
}

.navbar li:not(:last-child) {
  margin-bottom: 0.1rem;
}

.navbar a {
  text-decoration: none;
  font-size: 1.3rem;
  color: inherit;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: var(--slate-4);
}

.navbar a[aria-current="page"] {
  color: var(--slate-5);
}

.navbar summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.navbar summary::-webkit-details-marker {
  display: none;
}

.navbar summary::before {
  font-family: "Material Symbols Outlined";
  content: "keyboard_arrow_right";
  font-size: 1.5rem;

  transition: transform 0.2s ease;
}

.navbar details[open] > summary::before {
  transform: rotate(90deg);
}

.navbar__modules {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navbar__module {
  border-left: 3px solid var(--slate-4);
  padding-left: 5px;
  font-size: 1.2rem!important;
}

.navbar__module a {
  font-size: 1.2rem;
}

@media (max-width: 700px) {
  .navbar {
    margin-left: -150px;
  }

  .navbar.visible {
    margin-left: 0;
  }
}
